<!DOCTYPE html>
<html lang='en'>

<head>
    <title>My First Express App</title>

    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/6.2.4/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.2.4/firebase-auth.js"></script>
    <!-- firebaseUI -->
    <script src="https://cdn.firebase.com/libs/firebaseui/4.0.0/firebaseui.js"></script>

    
    <script>
        // Your web app's Firebase configuration
        var firebaseConfig = {
            apiKey: 'AIzaSyCoQaqrOYyXjmv9IJxeNqXt4K1NQuPz-8w',
            authDomain: 'node-firebase-fd9fd.firebaseapp.com',
            databaseURL: 'https://node-firebase-fd9fd.firebaseio.com',
            projectId: 'node-firebase-fd9fd',
            storageBucket: 'node-firebase-fd9fd.appspot.com',
            messagingSenderId: '775051055235',
            appId: '1:775051055235:web:6331bf08a7a898a9d80bb6'
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
    </script>
</head>

<body>
    <h2>Voting App</h2>
    <p>Login With Firebase</p>
    <button onclick='signInWithGoogle()'>
        SignIn with Google
    </button>
    <script>
        function signInWithGoogle() {
            // Using a popup.
            var provider = new firebase.auth.GoogleAuthProvider();
            firebase.auth().signInWithPopup(provider)
                .then((result) => {
                    console.log(result);
                }).catch((error) => {
                    console.log(error);
                });
        }
    </script>
</body>

</html>